body {
    font-family: monospace;
    text-align: center;
    background-color: lightblue;
    padding-bottom: 250px;
}

header {
    margin: 20px;
    font-size: 25px;
}

div#user_space {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#concert_group {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.concert {
    border: 1px solid black;
    background-color: lightgreen;
    margin: 2px;
    padding: 2px;
    border-radius: 10px;
}

.left_align {
    text-align: left;
    margin: 5px;
    width: 35%;
}

.right_align {
    text-align: right;
    margin: 5px;
}

.right_sec {
    grid-column: 2 / 2;
}

button {
    margin: 10px;
    font-family: monospace;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}

.dark_gray {
    background-color: darkgray;
}

.light_gray {
    background-color: lightgray;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}